{% extends 'base.html' %}

{% block 'title' %}
Login - My Blog
{% endblock %}

{% block 'content' %}
    <div class="wrapper_form">
        <div class="site_form">
            <form action="{% url 'accounts:login' %}" method="POST">
                <h2>Login</h2>
                {% csrf_token %}
                {{form}}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}