{% load static from static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block 'title' %}{% endblock 'title' %}</title>
</head>
<body>
    <header>
        <div class="header">
            <a href="{% url 'blog:home' %}">
                <div class="logo">
                    <img src="{% static 'logo.gif' %}" alt="tauren-dançante">
                    <h1>My blog</h1>
                </div>
            </a>
            <div class="links">
                <nav>
                    <ul>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Log in</a></li>
                        <li><a href="{% url 'blog:about' %}">About</a></li>
                        <li><a href="https://www.youtube.com/watch?v=P3ynj6w2tII">Schinipp Schnapp</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            {% block 'content' %}
            {% endblock 'content' %}
        </div>
    </main>
    <div class="footer">
        <footer>
            <p>Made in Python, Django, HTML and CSS by Victor William Hostert</p>
        </footer>
        <a href="https://www.youtube.com/watch?v=grd-K33tOSM"><img src="{% static 'footer.png' %}" alt="sus"></a>
    </div>
</body>
</html>