{% load static from static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block 'title' %}{% endblock 'title' %}</title>
</head>
<body>
    <header>
        <div class="header">
            <a href="{% url 'blog:home' %}">
                <div class="logo">
                    <img src="{% static 'logo.png' %}" alt="logo">
                    <h1>My blog</h1>
                </div>
            </a>
            <div class="links">
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <div class="logout_button">
                                    <button type="submit">Logout from <span>{{user.username}}</span></button>
                                </div>
                            </form>
                        </li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'blog:create' %}">New Article</a></li>
                        {% endif %}
                        {% else %}
                        <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                        <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                        {% endif %}
                        <li><a href="{% url 'blog:search' %}">Search</a></li>
                        <li><a href="{% url 'blog:about' %}">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            {% block 'content' %}
            {% endblock 'content' %}
        </div>
    </main>
    <div class="footer">
        <footer>
            <p>Made in Python, Django, HTML and CSS by Victor William Hostert</p>
        </footer>
    </div>
</body>
</html>