{% extends 'base.html' %}
{% load static from static %}

{% block 'title' %}
My blog
{% endblock %}

{% block 'content' %}
    {% if articles %}
    {% for article in articles %}
        <div class="article">
            <a href="{% url 'blog:post' slug=article.slug %}">
            <h2 class="article_title">{{article.title}}</h2>
            <p class="article_snippet">{{article.snippet}}</p>
            {% if article.thumb %}
            <img src="{{article.thumbnail.url}}" alt="user-img">
            {% endif %}
            <div class="article_footer">
                <p class="article_date">{{article.date}}</p>
                <p>{{article.category}}</p>
                <p class="article_author">Posted by: <span>{{article.author.username}}</span></p>
            </div>
            </a>
        </div>
    {% endfor %}
    {% else %}
        <div class="article" style="text-align:center;">
            <h2>Wow, looks empty</h1>
            <p>To start, sign up and post an article!</p>
            <p>You can only see articles that you posted</p>
            <br>
            <img src="{% static 'thumbsup.jpg' %}" alt="thumbsup">
        </div>
    {% endif %}
    <div class="pagination">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{articles.previous_page_number}}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">Next</a>
            <a href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>

{% endblock %}