{% extends 'base.html' %}
{% load static from static %}

{% block 'title' %}
My blog
{% endblock %}

{% block 'content' %}
    {% if articles %}
    {% for article in articles %}
        <div class="article">

            <h2><a href="{% url 'blog:post' slug=article.slug %}">{{article.title}}</a></h2>
            <p style="font-size: 1.2em; margin: 10px;">{{article.snippet}}</p>
            <p style="font-size: 0.8em;">{{article.date}}</p>
            <p class="author_post">Posted by: <span>{{article.author.username}}</span></p>
        </div>
    {% endfor %}
    {% else %}
        <div class="article" style="text-align:center;">
            <h2>Wow, looks empty</h1>
            <p>To start, sign up and post an article!</p>
            <br>
            <img src="{% static 'thumbsup.jpg' %}" alt="thumbsup">
        </div>
    {% endif %}
{% endblock %}