@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 1, 107);
    font-size: 1.2em;
    color: white;
    font-family: 'Outfit', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
}
.header img{
    max-width: 70px;
    border-radius: 50px;
    max-height: 40px;
}
.header{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 0, 92);
    height: 13vh;
}
.header span{
    text-transform: capitalize;
}
.links li{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px;
    margin: 0 3px;
}
.logo{
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 50px;
    padding: 5px;
    background-color: white;
}
.logo h1{
    padding: 15px;
    font-weight: bolder;
    font-size: 0.8em;
    color: indigo;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 5vh;
    line-height: 4vh;
    padding: 5px;
    background-color: #36005C;
    font-size: 0.8em;
}
.wrapper{
    overflow: auto;
    flex-basis: auto;
    height: 82vh;
}
.about{
    background-color: rgb(54, 0, 93);
    margin: 20px auto;
    text-align: center;
    width: 50%;
}
.article{
    padding: 20px;
    background-color: rgb(54, 0, 93);
    margin: 20px auto;
    width: 50%;
    overflow: hidden;
}
.article_title{
    text-align: center;
    margin: 10px auto;
}
.article_snippet{
    margin: 20px 30px;
    font-size: 1.2em;
}
.article img{
    display: block;
    margin: 20px auto;
    max-width: 50%;
    border: 3px solid white;
    border-radius: 20px;
}
.article_author{
    text-align: center;
}
.article_author span{
    text-transform: capitalize;
}
.article_footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 30px;
}
.post{
    padding: 40px;
    background-color: rgb(54, 0, 93);
    margin: 20px auto;
    width: 60%;
}
.post_title{
    text-align: center;
    font-size: 2em;
    margin: 10px auto;
}
.post_snippet{
    margin: 20px 30px;
    font-size: 1.5em;
}
.post img{
    display: block;
    margin: 40px auto;
    max-width: 80%;
    border: 3px solid white;
    border-radius: 20px;
}
.wrapper_form{
    text-align: center;
    border: 3px solid rgb(107, 0, 184);
    border-radius: 20px;
    max-width: 50%;
    margin: 20px auto;
}
.logout_button *{
    margin: 0;
    background-color: rgb(54, 0, 93);
    border: none;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
}
button:hover{
    cursor: pointer;
}
.user_img>*{
    max-width: 80%;
}
.site_form{
    width: 50%;
    margin: 30px auto;

}
.site_form *{
    padding: 10px;
    border-radius: 20px;
}
.site_form label{  
    display: block;
}
.site_form input{
    display: inline-block;
}
.site_form a{
    display: block;
}
.site_form button{
    color: white;
    background-color: indigo;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 1.1em;
    display: block;
    margin: 20px auto;
}
.site_form #thumb-clear_id{
    position: relative;
    top: 35px;
    left: 150px;
}
.helptext, .helptext ul{
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    border-radius: 20px;
}
.options{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.options *{
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
}
.options_title{
    text-align: center;
}
.site_form #text{
    border: 5px solid red;
}
.update_delete{
    margin-bottom: 30px;
}
.comments{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #36005D;
}
.comment{
    margin: 20px 30px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
}
.comment h3{
    text-transform: capitalize;
}
.comment_content{
    margin: 20px;
}
.create_comment{
    width: 60%;
    margin: 30px auto;
    background-color: #36005D;
    padding: 20px;
}
.create_comment *{
    display: block;
}
.create_comment label{
    display: none;
}
.create_comment button{
    color: white;
    background-color: indigo;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 1.1em;
    display: block;
    margin: 20px auto;
    padding: 10px;
}
.create_comment textarea{
    height: 50px;
    width: 60%;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
}