@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: indigo;
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
}
.header img{
    max-width: 50px;

}
.header{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 0, 92);
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    padding: 15px;
}
.footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding: 10px;
}
.footer img{
    width: 40px;
    height: 40px;
}
main{
    height: calc(100% - 200px);
}