@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 1, 107);
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
}
.header img{
    max-width: 70px;
    border-radius: 50px;
}
.header{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 0, 92);
    height: 10vh;
}
.header *{
    padding: 5px
}
.links li{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px;
    margin: 0 3px;
}
.logo{
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 50px;
}
.logo h1{
    padding: 15px;
    font-weight: bolder;
    font-size: 1.3em;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 5vh;
    padding: 5px;
}
.footer img{
    max-width: 30px;
}
.wrapper{
    overflow: auto;
    flex-basis: auto;
    height: 85vh;
}
.article{
    padding: 20px;
    background-color: rgb(54, 0, 93);
    margin: 20px auto;
    width: 50%;
    overflow: hidden;
}
.wrapper_form{
    text-align: center;
    border: 1px solid rgb(107, 0, 184);
    background-color: rgb(107, 0, 184);
    border-radius: 20px;
}

