{% extends 'base.html' %}

{% block 'title' %}
Sobre
{% endblock %}

{% block 'content' %}
<div class="about">
    <h2>About</h2>
    <br>
    <p>This site is a test running in Python, Django, HTML and CSS, with the sole objective to exercise the concepts of the framework, in hope of learning its particularities. None of the images or names shown in here belong to me.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nemo, officia laudantium fugit optio ipsum ducimus id. Fugiat optio nemo minus id voluptate ab nesciunt ducimus itaque nisi mollitia sapiente minima sunt, et aspernatur, praesentium cupiditate perspiciatis quis porro inventore vero eos possimus! Placeat consequuntur, quisquam vero eius explicabo aut.</p>
</div>
{% endblock %}