{% extends 'base.html' %}

{% block 'title' %}
{{article.slug}}
{% endblock %}

{% block 'content' %}
    <div class="post">
        <h2 class="post_title"><a href="{% url 'blog:post' slug=article.slug %}">{{article.title}}</a></h2>
        <p class="post_snippet">{{article.content}}</p>
        {% if article.thumb %}
        <img src="{{article.thumbnail.url}}" alt="user-img">
        {% endif %}
        <div class="article_footer">
            <p>{{article.date}}</p>
            <p>{{article.category}}</p>
            <p class="article_author">Posted by: <span>{{article.author.username}}</span></p>
        </div>
    </div>
    {% if comments %}
    <div class="comments">
        <h2>Comments:</h3>
        {% for comment in comments %}
        <div class="comment">
            <h3>{{comment.author}}:</h3>
            <p class="comment_content">{{comment.content}}</p>
            <p>{{comment.date}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="create_comment">
        <form action="{% url 'blog:post' slug=article.slug %}", method="POST">
            <h3>Leave a comment:</h3>
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
        
    <div class="update_delete">
        {% if user.is_authenticated and user == article.author%}
        <div class="options">
            <a href="{% url 'blog:update' slug=article.slug %}">Update this Article</a>
            <a href="{% url 'blog:delete_proceed' slug=article.slug %}">Delete this Article</a>
        </div>
    {% endif %}
    </div>
{% endblock %}