{% extends 'base.html' %}

{% block 'title' %}
{{article.slug}}
{% endblock %}

{% block 'content' %}
    <div class="post">
        <h2 class="post_title"><a href="{% url 'blog:post' slug=article.slug %}">{{article.title}}</a></h2>
        <p class="post_snippet">{{article.snippet}}</p>
        {% if article.thumb %}
        <img src="{{article.thumbnail.url}}" alt="user-img">
        {% endif %}
        <div class="article_footer">
            <p class="article_date">{{article.date}}</p>
            <p class="article_author">Posted by: <span>{{article.author.username}}</span></p>
        </div>
    </div>
    <div class="update_delete">
        {% if user.is_authenticated and user == article.author%}
        <div class="options">
            <a href="{% url 'blog:update' slug=article.slug %}">Update this Article</a>
            <a href="{% url 'blog:delete_proceed' slug=article.slug %}">Delete this Article</a>
        </div>
    {% endif %}
    </div>
{% endblock %}