{% extends 'base.html' %}

{% block 'title' %}
{{article.slug}}
{% endblock %}

{% block 'content' %}
    <div class="article">
        <h2><a href="#">{{article.title}}</a></h2>
        <br>
        <p>{{article.content}}</p>
        <br>
        <p>{{article.date}}</p>
        <br>
        <div class="user_img">
            <img src="{{article.thumbnail.url}}" alt="user-image">
        </div>
        <p class="author_post">Posted by: <span>{{article.author.username}}</span></p>
    </div>
    <div class="update_delete">
        {% if user.is_authenticated and user == article.author%}
        <div class="options">
            <a href="{% url 'blog:update' slug=article.slug %}">Update this Article</a>
            <a href="{% url 'blog:delete_proceed' slug=article.slug %}">Delete this Article</a>
        </div>
    {% endif %}
    </div>
{% endblock %}